omegaconf
grpcio
grpcio-tools
protobuf
protobuf3-to-dict
pickle5
numpy
tensorboardX
tensorboard
readerwriterlock
nashpy
psutil
gym
dataclasses
wrapt
pyyaml
dm-tree
parallel-ssh
tabulate
six
easydict
ipython
colorlog
#hiredis==2.0.0
matplotlib
pandas
wandb